.DS_Store
android-package
ios-package
node_modules
/dist
/www

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/until/coverage/
/test/e2e/reports/
selenium-debug
OrienteVue.podspec

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
